torch
torchvision
opencv-python-headless
Pillow
numpy
pandas
matplotlib
grad-cam
streamlit
scikit-learn
tqdm
torchxrayvision
huggingface_hub
python-dotenv
openai
transformers
sentencepiece
timm
albumentations
